<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Nobarkor.id | Your Best K-Drama Website</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="assets/img/icon/korea.jpg">

		<!-- CSS here -->
            <link rel="stylesheet" href="assets/css/bootstrap.min.css">
            <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
            <link rel="stylesheet" href="assets/css/slicknav.css">
            <link rel="stylesheet" href="assets/css/animate.min.css">
            <link rel="stylesheet" href="assets/css/magnific-popup.css">
            <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
            <link rel="stylesheet" href="assets/css/themify-icons.css">
            <link rel="stylesheet" href="assets/css/slick.css">
            <link rel="stylesheet" href="assets/css/nice-select.css">
            <link rel="stylesheet" href="assets/css/style.css">
   </head>

   <body class="body-bg">
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="assets/img/icon/korea.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
       <div class="header-area header-sticky">
            <div class="header-wrapper d-flex flex-wrap align-items-center justify-content-between">
                <!-- Logo -->
                <div class="logo">
                    <a href="index.html"><h1>Nobarkor.id</h1></a>
                </div>
                <!-- Main-menu -->
                <div class="main-menu d-none d-lg-block">
                    <nav>
                        <ul id="navigation">                                                                                                                               
                            <li><a href="index.html">Home</a></li>
                            <li><a href="review.html">Cari Review</a></li>
                            <li><a>Rekomendasi Drama</a>
                                <ul class="submenu">
                                    <li><a href="/semuaData">Lihat Semua</a></li>
                                    <li><a href="genre.html">Berdasarkan Genre</a></li>
                                    <li><a href="tahun.html">Berdasarkan Tahun</a></li>
                                    <li><a href="pemain.html">Berdasarkan Pemain</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>          
                <!-- Header-btn -->
                <div class="d-none d-xl-block">
                </div>
                <!-- Mobile Menu -->
                <div class="col-12">
                    <div class="mobile_menu d-block d-lg-none"></div>
                </div>
            </div>
       </div>
        <!-- Header End -->
    </header>
    <main>

        <!-- Drama List Start -->
        <div class="clients-area section-padding30">
            <div class="container">
                <!-- Section Tittle -->
                <div class="row" th:if="${dramaDicari.empty}">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center mb-100">
                            <h3 class=" wow fadeInUp" data-wow-delay=".3s">Maaf, Drama yang anda cari tidak ditemukan!</h3>
                        </div>
                    </div>
                </div>
                <div class="row" th:unless="${dramaDicari.empty}" >
                    <div class="col-lg-12">
                        <div class="section-tittle text-center mb-100">
                            <h2 class=" wow fadeInUp" data-wow-delay=".3s">Here are the list</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6"  th:each="drama : ${dramaDicari}">
                        <!-- Looping here -->
                        <div class="single-offers mb-50 wow fadeInUp" data-wow-delay=".2s">
                            <div class="offers-img">
                                <img th:src="${drama.gambar}" alt="assets/img/dramas/${dramaDicari.gambar}">
                            </div>
                            <div class="offers-cap">
                                <h3><a th:href="@{'drama.html?name=' + ${drama.nama}}" th:text="${drama.nama}"></a></h3>
                                <p style="margin-bottom:0;" th:text="'Genre: ' + ${drama.genre}"></p>  
                                <p style="margin : 0; padding-top:0;" th:text="'Rating: ' + ${drama.rating}"></p>
                                <p style="margin : 0; padding-top:0;" th:text="'Pemain: ' + ${drama.pemain}"></p>
                                <a href="drama.html"><i class="ti-arrow-top-right"></i></a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <!-- Drama list End -->
    </main>

   <footer>
        <div class="footer-area fix">
            <!-- Footer Caption -->
            <div class="footer-caption wow fadeInRight" data-wow-delay=".6s">
                <div class="footer-tittle">
                    <h3>Happiness is<br> K-Drama!</h3>
                </div>
                <div class="footer-menu ">
                    <div class="single-menu">
                        <div class="single-menu1">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Developers</h4>
                                        <div class="footer-pera">
                                            <p>Alifah Fatimah Az-Zahra Hardian</p>
                                            <p>Ayuka Sonohata</p>
                                            <p>Siti Nurlaila</p>
                                            <p>Muhammad Estuputra D.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-menu3">
                                <div class="single-footer-caption">
                                    <div class="footer-tittle">
                                        <h4>Social</h4>
                                        <!-- Social -->
                                        <div class="footer-pera">
                                            <p>@zahrahardian</p>
                                            <p>@ayukasnht</p>
                                            <p>@sitinlaila</p>
                                            <p>@estuputraaa</p>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright pt-40">
                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>
            </div>
        </div>
   </footer>
   
	<!-- JS here -->
	
		<!-- All JS Custom Plugins Link Here here -->
        <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
		
		<!-- Jquery, Popper, Bootstrap -->
		<script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="./assets/js/popper.min.js"></script>
        <script src="./assets/js/bootstrap.min.js"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="./assets/js/jquery.slicknav.min.js"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="./assets/js/owl.carousel.min.js"></script>
        <script src="./assets/js/slick.min.js"></script>
		<!-- One Page, Animated-HeadLin -->
        <script src="./assets/js/wow.min.js"></script>
		<script src="./assets/js/animated.headline.js"></script>
        <script src="./assets/js/jquery.magnific-popup.js"></script>

		<!-- Scrollup, nice-select, sticky -->
        <script src="./assets/js/jquery.scrollUp.min.js"></script>
        <script src="./assets/js/jquery.nice-select.min.js"></script>
		<script src="./assets/js/jquery.sticky.js"></script>
        
        <!-- contact js -->
        <script src="./assets/js/contact.js"></script>
        <script src="./assets/js/jquery.form.js"></script>
        <script src="./assets/js/jquery.validate.min.js"></script>
        <script src="./assets/js/mail-script.js"></script>
        <script src="./assets/js/jquery.ajaxchimp.min.js"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="./assets/js/plugins.js"></script>
        <script src="./assets/js/main.js"></script>
        
    </body>
</html>